<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms-4.0.xsd
        http://activemq.apache.org/schema/core
        http://activemq.apache.org/schema/core/activemq-core-5.10.2.xsd">
    <!--apollo读参数，暂未改造-->
    <!--<apollo:config/>-->

    <!-- ActiveMQ 连接工厂  http://127.0.0.1:8161/-->
    <amq:connectionFactory id="amqConnectionFactory"
                           brokerURL="${activemq.brokerURL}" objectMessageSerializationDefered="false"/>
    <!--<amq:connectionFactory id="amqConnectionFactory"
                           brokerURL="tcp://10.10.8.212:61616"/>-->

    <!-- Spring Caching连接工厂 -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->
        <property name="targetConnectionFactory" ref="amqConnectionFactory"/>
        <!-- Session缓存数量 -->
        <property name="sessionCacheSize" value="100"/>
    </bean>

    <!-- Spring JmsTemplate 的消息生产者 start-->
    <bean id="jmsQueueTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
        <constructor-arg ref="connectionFactory"/>
        <!-- 非pub/sub模型（发布/订阅），即队列模式 -->
        <property name="pubSubDomain" value="false"/>
    </bean>
    <!--Spring JmsTemplate 的消息生产者 end-->

    <!-- 消息消费者 start-->
    <!-- 定义Queue监听器 -->
    <jms:listener-container destination-type="queue" container-type="default" connection-factory="connectionFactory"
                            acknowledge="auto" concurrency="5-10">
        <!--测试队列消费者-->
        <!--使用实现实现MessageListener接口，重写onMessage(Message message)方法的形式监听队列消息时，
          在此类中就已经不能再写其他的普通方法，然后在配置文件中指定ref 和 method，不会起作用，不会进入队列！-->
        <jms:listener destination="dubbo.web.test.queue" ref="testQueueConsumer"/>
        <!--使用实现mq消息监听的方式是在配置文件中指定处理具体队列的类ref 和方法 method。
          此种方式可以在一个类中实现监听多个队列！不会像实现MessageListener接口那样，一个类只能监听一个队列的消息！-->
        <!--默认消费者，用于测试-->
        <jms:listener destination="dubbo.web.test.method.default.queue" ref="testMethodQueueConsumer"
                      method="testMethodMqDefault"/>
        <!--发送ActiveMapMessage类型参数消费者，用于测试。此方法只能放入java primitive数据类型。-->
        <jms:listener destination="dubbo.web.test.method.mapmsg.queue" ref="testMethodQueueConsumer"
                      method="testMethodMqMapMsg"/>
        <!--发送Object类型参数消费者，用于测试。此方法可以发送复杂数据类型。-->
        <jms:listener destination="dubbo.web.test.method.objmsg.queue" ref="testMethodQueueConsumer"
                      method="testMethodObjMsgMq"/>
        <jms:listener destination="dubbo.web.test.method.objmapmsg.queue" ref="testMethodQueueConsumer"
                      method="testMethodObjMapMsgMq"/>
        <jms:listener destination="dubbo.web.test.method.objmaplistmsg.queue" ref="testMethodQueueConsumer"
                      method="testMethodObjMapListMsgMq"/>

    </jms:listener-container>
    <!-- 消息消费者 end -->


</beans>